<template>
  <main class="container main-contents">
    <div v-for="item in users">
      {{ item.name }}
      {{ item.acf.availlibility }}
      <span v-for="av in item.acf.availlibility">
        {{ av }}
      </span>
      <br>
    </div>
  </main>
</template>

<script>
import wp from '~/lib/wp'

export default {
  async asyncData ({ params }) {
    return wp.authors()
  }
}
</script>
