
html
  box-sizing: border-box
  font-size: 62.5%
  // set html's background to prevent unexpected problems
  background: $color-body-background

  +breakpoint-down(sm)
    font-size: 50%


  *,
  *:before,
  *:after
    box-sizing: inherit


body
  background: $color-body-background


a
  transition-property: all
  transition-duration: 300ms
  transition-timing-function: ease-in-out
  transition-timing-function: $ease-in-out-quint
  color: $color-link
  text-decoration: none

  &:hover,
  &:active
    color: darken($color-link, 15%)
    text-decoration: none
