//
//  Imports
//

@import fonts/fa/fontawesome
@import fonts/fa/fa-brands
@import fonts/fa/fa-regular
@import fonts/fa/fa-solid


//
//  Global typography
//

body
  font-size: $font-size
  line-height: $line-height
  font-weight: $font-weight
  font-family: $font-family
  text-rendering: optimizeLegibilitycolor
  -webkit-font-smoothing: antialiased //sass-lint:disable-line no-vendor-prefixes
  font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale //sass-lint:disable-line no-vendor-prefixes


//
//  Headings
//

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6
  margin-bottom: $spacer
  margin-top: 0
  font-family: $heading-family
  font-weight: $heading-weight


h1,
.h1
  font-size: 4.8rem
  line-height: 6rem

h2,
.h2
  font-size: 3.6rem
  line-height: 4.8rem

h3,
.h3
  font-size: 2.8rem
  line-height: 3.6rem

h4,
.h4
  font-size: 2.2rem
  line-height: 3.6rem

h5,
.h5
  font-size: 1.6rem
  line-height: 2.4rem

h6,
.h6
  font-size: 1.4rem
  line-height: 2.4rem


// Paragraphs
p
  margin-bottom: $spacer
  word-break: break-word
  word-wrap: break-word

  &:last-child
    margin-bottom: 0


.text--leader
  font-size: 1.8rem
  line-height: 2.4rem
  font-weight: 200

// Meta
.text--meta
  font-size: 1rem
  line-height: 1.2rem
  color: $color-text-faded

// Small
.text--small,
small
  font-size: 85%

.text--smaller
  font-size: 1.2rem
  line-height: 1.8rem

.text--bigger
  font-size: 1.8rem
  line-height: 2.4rem


//
//  Colors classes
//

.color--main
  color: $color-main

.color--danger
  color: $color-danger

.color--warning
  color: $color-warning

.color--success
  color: $color-success

.color--info
  color: $color-info

.color--alt
  color: $color-alt

.color--faded
  color: $color-text-faded

.color--text
  color: $color-text


// Strong
strong,
.text--strong
  font-weight: 600

// Bold
b,
.text--bold
  font-style: bold



// Reset lists for global styling

ul,
ol
  margin: 0
  padding: 0
  list-style: none


// Add styling for text content
.content--text
  ul,
  ol,
  dl
    margin-bottom: $spacer

  ul
    list-style-type: disc
    padding-left: $spacer / 2

    ul
      list-style-type: circle
      padding-left: $spacer / 2

  ol
    list-style-type: decimal
    padding-left: $spacer / 2

    ol
      list-style-type: lower-latin
      padding-left: $spacer / 2




// Custom
//
.heading--background
  text-align: center
  color: white
  font-weight: 900
  font-size: 3.2rem
  line-height: 1
  margin-bottom: -0px
  text-transform: uppercase
  font-style: italic
  z-index: 1
  position: absolute
  bottom: 100%
  left: 50%
  padding: .5em 1em
  transform: translateY(-50%, 50%)

  &::before
    content: ''
    position: absolute
    left: 0
    top: 0
    z-index: -1
    background-color: black
    width: 100%
    height: 100%
    transform: skewX(-10deg)
