=fa-icon
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  display: inline-block
  font-style: normal
  font-variant: normal
  font-weight: normal
  line-height: 1
  vertical-align: -.125em

=fa-icon-rotate($degrees, $rotation)
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=#{$rotation})"
  transform: rotate($degrees)

=fa-icon-flip($horiz, $vert, $rotation)
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=#{$rotation}, mirror=1)"
  transform: scale($horiz, $vert)

// Only display content to screen readers. A la Bootstrap 4.
//
// See: http://a11yproject.com/posts/how-to-hide-content/

=sr-only
  border: 0
  clip: rect(0, 0, 0, 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px


=sr-only-focusable
  &:active,
  &:focus
    clip: auto
    height: auto
    margin: 0
    overflow: visible
    position: static
    width: auto
