@import media-query

@mixin retina-background($file, $attr: '', $type: 'png')
  @if $attr != ''
    background: $attr

  $image: $file + '.' + $type
  $image2x: $file + '@2x.' + $type

  background-image: image-url($image)

  $width: image-width($image)
  $height: image-height($image)

  +retina
    background-image: image-url($image2x)
    background-size: $width $height
