<template>
  <div class="datepicker">
    <v-date-picker
      class="mb--3"
      is-double-paned
      is-inline
      mode='multiple'
      v-model='selectedDays'
      :attributes='attributes'
      :disabled-attribute="disabledAttributes"
      :select-attribute='selectAttributes'
      :show-popover=false
      :available-dates='{ start: new Date(), end: null }'
      :theme-styles='themeStyles'
      :weekdayLabels=translatedWeekdays
      :monthLabels=translatedMonths
      >
    </v-date-picker>
    <input type="hidden" name="selectedDays" v-model="queryReady">
    <div class="text--center" v-if=controls>
      <button class="button button--main" type="button" name="button" @click="submitDays">
        {{ searchButton }}
      </button>
      <button class="button button--text button--text--underlined ml--3" @click='selectedDays = null'>
        {{ clearButton }}
      </button>
    </div>
  </div>
</template>

<script>

import Vue from 'vue';
import VCalendar from 'v-calendar';
// import 'v-calendar/lib/v-calendar.min.css';

Vue.use(VCalendar, {
  firstDayOfWeek: 2,
});

export default {
  props: ['preselectedDays','controls','searchButton','clearButton','weekdaysTranslation','monthTranslation'],
  data: () => ({
    selectedDays: [],
    themeStyles: {
      weekdays: {
        opacity: 1
      },
      dayCellNotInMonth: {
        opacity: 0.1
      }
    },
    selectAttributes: {
      contentStyle: {
        color: 'white',
        backgroundColor: '#F67825'
      },
      // We need to override the default `dayContentHover` theme style set by `v-date-picker`
      contentHoverStyle: {
        cursor: 'default',
        color: 'white',
        backgroundColor: '#F67825',
        opacity: 0.75
      },
    },
    disabledAttributes: {
      contentStyle: {
        opacity: .25,
        color: '#ff4040'
      }
    },
    attributes: [
      {
        key: 'today',
        dates: new Date(),
        dot: {
          backgroundColor: '#F67825'
        }
      },
      {
        key: 'weekends',
        contentStyle: {
          color: '#afafaf'
        },
        dates: {
          weekdays: [1, 7]
        },
      }
    ]
  }),
  methods: {
    submitDays (event) {
      this.$emit('clicked', this.queryReady)
    },
  },
  computed: {
    queryReady() {
      if(this.selectedDays) {
        return this.selectedDays.map( (d) => {
          return Date.parse(d)
        }).join(',');
      }
    },
    daysInit() {
      if(this.preselectedDays) {
        return this.preselectedDays.split(',').map( (d) => {
          return new Date(+d)
        })
      }
      else {
        return null;
      }
    },
    translatedWeekdays() {
      return this.weekdaysTranslation.split(',');
    },
    translatedMonths() {
      return this.monthTranslation.split(',');
    }
  },
  mounted() {
  // console.log(this.daysInit);
    this.selectedDays = this.daysInit;
  }
}
</script>
