
%button
  +button-color($color-dark)
  position: relative
  display: inline-block
  vertical-align: middle
  margin: 0
  padding: 1em 3em
  border: 0
  font-weight: 400
  border-radius: .2rem
  // letter-spacing: .1em
  font-size: 1.4rem
  line-height: 1.8rem
  font-family: $font-family
  text-rendering: optimizeLegibilitycolor
  -webkit-font-smoothing: antialiased //sass-lint:disable-line no-vendor-prefixes
  font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale //sass-lint:disable-line no-vendor-prefixes
  text-align: center
  text-overflow: ellipsis
  text-decoration: none
  white-space: nowrap
  cursor: pointer
  user-select: none
  background: none
  transition-property: background, color, box-shadow
  transition-timing-function: $ease-in-out-quint
  transition-duration: 100ms

  &:hover,
  &:focus
    text-decoration: none
    outline: 0

  &.button--active,
  &.active,
  &:active,
  &:focus
    outline: 0

  &.button--disabled,
  &.disabled,
  &[disabled]
    opacity: .45
    pointer-events: none
    cursor: not-allowed


.button
  @extend %button

  &--main
    background-color: $color-main
    color: white

    &:hover
      background-color: darken($color-main,15%)
      color: white

    &--outline
      background-color: rgba($color-main, 0)
      box-shadow: inset 0 0 0 1px $color-main
      color: $color-main

      &:hover
        background-color: $color-main
        color: white

    &--clear
      color: $color-main
      background-color: rgba($color-main, 0)

      &:hover
        background-color: $color-main
        color: white

  &--alt
    background-color: $color-alt
    color: white

    &:hover
      background-color: darken($color-alt,15%)
      color: white

    &--outline
      background-color: rgba($color-main, 0)
      box-shadow: inset 0 0 0 1px $color-alt
      color: $color-alt

      &:hover
        background-color: $color-alt
        color: white

    &--clear
      color: $color-alt
      background-color: rgba($color-alt, 0)

      &:hover
        background-color: $color-alt
        color: white

  &--text
    padding: .2em 0
    margin-top: .8em
    margin-bottom: .8em
    color: $color-text
    background: rgba(white,0)
    border-radius: 0

    &:hover
      color: $color-dark
      background: rgba(white,0)

    &--underlined
      box-shadow: 0 1px rgba($color-text,.35)

      &:hover
        box-shadow: 0 1px rgba($color-text,1)

//
// Sizes
//

.button--tiny
  padding: .3rem .6rem
  font-size: 1rem
  line-height: 1.2rem
  text-transform: none
  font-weight: 400

.button--small
  padding: 1em 3em
  font-size: 1.2rem
  line-height: 1.4rem
  font-weight: 400

.button--medium
  padding: .1rem .2rem
  font-size: 1.2rem
  text-transform: uppercase
  font-weight: 400

.button--big
  padding: .2rem .3rem
  font-size: 1.6rem
  text-transform: uppercase
  font-weight: 400

.button--large
  padding: .4rem .6rem
  font-size: 1.6rem
  text-transform: uppercase
  font-weight: 400

//
// Modifiers
//


.button--block
  display: block
  width: 100%
  padding-left: 0
  padding-right: 0
  text-align: center

.button--round
  border-radius: 1000px

// buttons stacked
//

.buttons--horizontal
  display: block
  width: 100%

  .flexbox &
    display: flex
    flex-flow: row nowrap
    align-items: flex-start
    justify-content: space-between

    .button
      flex: 1 1 auto


  .no-flexbox &
    +clearfix

    .button
      float: left

.buttons--justified
  display: block
  width: 100%

  .flexbox &
    display: flex
    flex-flow: row nowrap
    align-items: flex-start
    justify-content: space-between

    .button
      flex: 1 1 100%


  .no-flexbox &
    +clearfix

    .button
      float: left
