@-webkit-keyframes scaleEnter-data-v-27274cca
  0%
    transform: scaleX(.7) scaleY(.7)
    opacity: .3

  90%
    transform: scaleX(1.1) scaleY(1.1)

  95%
    transform: scaleX(.95) scaleY(.95)

  to
    transform: scaleX(1) scaleY(1)
    opacity: 1


@keyframes scaleEnter-data-v-27274cca
  0%
    transform: scaleX(.7) scaleY(.7)
    opacity: .3

  90%
    transform: scaleX(1.1) scaleY(1.1)

  95%
    transform: scaleX(.95) scaleY(.95)

  to
    transform: scaleX(1) scaleY(1)
    opacity: 1


@-webkit-keyframes scaleLeave-data-v-27274cca
  0%
    transform: scaleX(1) scaleY(1)

  60%
    transform: scaleX(1.18) scaleY(1.18)
    opacity: .2

  to
    transform: scaleX(1.15) scaleY(1.18)
    opacity: 0


@keyframes scaleLeave-data-v-27274cca
  0%
    transform: scaleX(1) scaleY(1)

  60%
    transform: scaleX(1.18) scaleY(1.18)
    opacity: .2

  to
    transform: scaleX(1.15) scaleY(1.18)
    opacity: 0


@-webkit-keyframes slideRightScaleEnter-data-v-27274cca
  0%
    transform: scaleX(0)

  60%
    transform: scaleX(1.08)


@keyframes slideRightScaleEnter-data-v-27274cca
  0%
    transform: scaleX(0)

  60%
    transform: scaleX(1.08)


@-webkit-keyframes slideRightTranslateEnter-data-v-27274cca
  0%
    transform: translateX(-6px)

  60%
    transform: translateX(2px)


@keyframes slideRightTranslateEnter-data-v-27274cca
  0%
    transform: translateX(-6px)

  60%
    transform: translateX(2px)


@-webkit-keyframes slideLeftScaleEnter-data-v-27274cca
  0%
    transform: scaleX(0)

  60%
    transform: scaleX(1.08)


@keyframes slideLeftScaleEnter-data-v-27274cca
  0%
    transform: scaleX(0)

  60%
    transform: scaleX(1.08)


@-webkit-keyframes slideLeftTranslateEnter-data-v-27274cca
  0%
    transform: translateX(6px)

  60%
    transform: translateX(-2px)


@keyframes slideLeftTranslateEnter-data-v-27274cca
  0%
    transform: translateX(6px)

  60%
    transform: translateX(-2px)


.c-pane-container[data-v-27274cca]
  flex-shrink: 1
  display: inline-flex
  font-weight: 400
  line-height: 1.5
  color: #393d46
  min-width: 256px

.c-pane-container
  &.is-double-paned[data-v-27274cca]
    min-width: 60rem !important

    .wp-admin &
      min-width: 512px !important

  &.is-expanded[data-v-27274cca]
    width: 100%


.c-pane-divider[data-v-27274cca]
  width: 1px
  border: 1px inset
  border-color: #fafafa

@-webkit-keyframes scaleEnter-data-v-7e64e2ea
  0%
    transform: scaleX(.7) scaleY(.7)
    opacity: .3

  90%
    transform: scaleX(1.1) scaleY(1.1)

  95%
    transform: scaleX(.95) scaleY(.95)

  to
    transform: scaleX(1) scaleY(1)
    opacity: 1


@-webkit-keyframes scaleLeave-data-v-7e64e2ea
  0%
    transform: scaleX(1) scaleY(1)

  60%
    transform: scaleX(1.18) scaleY(1.18)
    opacity: .2

  to
    transform: scaleX(1.15) scaleY(1.18)
    opacity: 0


@-webkit-keyframes slideRightScaleEnter-data-v-7e64e2ea
  0%
    transform: scaleX(0)

  60%
    transform: scaleX(1.08)


@-webkit-keyframes slideRightTranslateEnter-data-v-7e64e2ea
  0%
    transform: translateX(-6px)

  60%
    transform: translateX(2px)


@-webkit-keyframes slideLeftScaleEnter-data-v-7e64e2ea
  0%
    transform: scaleX(0)

  60%
    transform: scaleX(1.08)


@-webkit-keyframes slideLeftTranslateEnter-data-v-7e64e2ea
  0%
    transform: translateX(6px)

  60%
    transform: translateX(-2px)


@keyframes scaleEnter-data-v-7e64e2ea
  0%
    transform: scaleX(.7) scaleY(.7)
    opacity: .3

  90%
    transform: scaleX(1.1) scaleY(1.1)

  95%
    transform: scaleX(.95) scaleY(.95)

  to
    transform: scaleX(1) scaleY(1)
    opacity: 1


@keyframes scaleLeave-data-v-7e64e2ea
  0%
    transform: scaleX(1) scaleY(1)

  60%
    transform: scaleX(1.18) scaleY(1.18)
    opacity: .2

  to
    transform: scaleX(1.15) scaleY(1.18)
    opacity: 0


@keyframes slideRightScaleEnter-data-v-7e64e2ea
  0%
    transform: scaleX(0)

  60%
    transform: scaleX(1.08)


@keyframes slideRightTranslateEnter-data-v-7e64e2ea
  0%
    transform: translateX(-6px)

  60%
    transform: translateX(2px)


@keyframes slideLeftScaleEnter-data-v-7e64e2ea
  0%
    transform: scaleX(0)

  60%
    transform: scaleX(1.08)


@keyframes slideLeftTranslateEnter-data-v-7e64e2ea
  0%
    transform: translateX(6px)

  60%
    transform: translateX(-2px)


.c-pane[data-v-7e64e2ea]
  width: 50%
  display: flex
  flex-direction: column
  align-items: stretch
  position: relative

.c-section-wrapper[data-v-7e64e2ea]
  position: relative
  display: flex
  flex-direction: column

.c-header[data-v-7e64e2ea]
  flex: 1
  display: flex
  align-items: stretch
  user-select: none
  padding: 10px

.c-header
  .c-arrow-layout[data-v-7e64e2ea]
    display: flex
    justify-content: center
    align-items: center
    margin: 0
    padding: 0

  .c-title-layout[data-v-7e64e2ea]
    display: inline-flex
    justify-content: center
    align-items: center
    flex-grow: 1

  .c-title-layout
    .c-title-popover
      .c-title-anchor[data-v-7e64e2ea]
        display: flex
        justify-content: inherit

      .c-title-anchor .c-title[data-v-7e64e2ea]
        font-weight: 400
        font-size: 1.4rem
        transition: all .25s ease-in-out
        cursor: pointer
        user-select: none
        white-space: nowrap


    .c-title-popover[data-v-7e64e2ea]
      display: flex
      justify-content: inherit

    &.align-left[data-v-7e64e2ea]
      order: -1
      justify-content: flex-start

    &.align-right[data-v-7e64e2ea]
      order: 1
      justify-content: flex-end


  .c-arrow-layout .c-arrow[data-v-7e64e2ea]
    display: flex
    justify-content: center
    align-items: center
    margin: 0
    padding: 0
    font-size: 1.6rem
    transition: fill-opacity .3s ease-in-out
    cursor: pointer
    user-select: none
    margin-top: -.1em

  .c-arrow.c-disabled[data-v-7e64e2ea]
    cursor: not-allowed
    pointer-events: none
    opacity: .2


.c-horizontal-divider[data-v-7e64e2ea]
  align-self: center

.c-vertical-divider[data-v-7e64e2ea]
  display: flex
  align-items: center
  position: absolute
  left: 0
  height: 100%

.c-weekdays[data-v-7e64e2ea]
  flex-grow: 1
  padding: 0 5px
  color: #9499a8
  font-size: 1.4rem
  font-weight: 500
  display: flex

.c-weekday[data-v-7e64e2ea]
  display: flex
  justify-content: center
  align-items: center
  margin: 0
  padding: 0
  flex: 1
  cursor: default

.c-weeks[data-v-7e64e2ea]
  flex-grow: 1
  padding: 5px 5px 7px

.c-weeks-rows-wrapper[data-v-7e64e2ea]
  position: relative

.c-weeks-rows[data-v-7e64e2ea]
  display: flex
  flex-direction: column
  width: 100%

.title-fade-leave-active[data-v-7e64e2ea]
  position: absolute

.title-slide-down-leave-active[data-v-7e64e2ea]
  position: absolute

.title-slide-left-leave-active[data-v-7e64e2ea]
  position: absolute

.title-slide-right-leave-active[data-v-7e64e2ea]
  position: absolute

.title-slide-up-leave-active[data-v-7e64e2ea]
  position: absolute

.title-slide-down-leave[data-v-7e64e2ea]
  opacity: 1

.title-slide-left-leave[data-v-7e64e2ea]
  opacity: 1

.title-slide-right-leave[data-v-7e64e2ea]
  opacity: 1

.title-slide-up-leave[data-v-7e64e2ea]
  opacity: 1

.title-none-enter-active[data-v-7e64e2ea]
  transition-duration: 0s

.title-none-leave-active[data-v-7e64e2ea]
  transition-duration: 0s

.title-slide-left-enter[data-v-7e64e2ea]
  opacity: 0
  transform: translateX(25px)

.title-slide-right-leave-to[data-v-7e64e2ea]
  opacity: 0
  transform: translateX(25px)

.title-slide-left-leave-to[data-v-7e64e2ea]
  opacity: 0
  transform: translateX(-25px)

.title-slide-right-enter[data-v-7e64e2ea]
  opacity: 0
  transform: translateX(-25px)

.title-slide-down-leave-to[data-v-7e64e2ea]
  opacity: 0
  transform: translateY(20px)

.title-slide-up-enter[data-v-7e64e2ea]
  opacity: 0
  transform: translateY(20px)

.title-slide-down-enter[data-v-7e64e2ea]
  opacity: 0
  transform: translateY(-20px)

.title-slide-up-leave-to[data-v-7e64e2ea]
  opacity: 0
  transform: translateY(-20px)

.weeks-fade-enter-active[data-v-7e64e2ea]
  transition: all .25s ease-in-out

.weeks-fade-leave-active[data-v-7e64e2ea]
  transition: all .25s ease-in-out
  position: absolute

.weeks-slide-down-enter-active[data-v-7e64e2ea]
  transition: all .25s ease-in-out

.weeks-slide-down-leave-active[data-v-7e64e2ea]
  transition: all .25s ease-in-out
  position: absolute

.weeks-slide-left-enter-active[data-v-7e64e2ea]
  transition: all .25s ease-in-out

.weeks-slide-left-leave-active[data-v-7e64e2ea]
  transition: all .25s ease-in-out
  position: absolute

.weeks-slide-right-enter-active[data-v-7e64e2ea]
  transition: all .25s ease-in-out

.weeks-slide-right-leave-active[data-v-7e64e2ea]
  transition: all .25s ease-in-out
  position: absolute

.weeks-slide-up-enter-active[data-v-7e64e2ea]
  transition: all .25s ease-in-out

.weeks-slide-up-leave-active[data-v-7e64e2ea]
  transition: all .25s ease-in-out
  position: absolute

.weeks-none-enter-active[data-v-7e64e2ea]
  transition-duration: 0s

.weeks-none-leave-active[data-v-7e64e2ea]
  transition-duration: 0s

.weeks-slide-left-enter[data-v-7e64e2ea]
  opacity: 0
  transform: translateX(20px)

.weeks-slide-right-leave-to[data-v-7e64e2ea]
  opacity: 0
  transform: translateX(20px)

.weeks-slide-left-leave-to[data-v-7e64e2ea]
  opacity: 0
  transform: translateX(-20px)

.weeks-slide-right-enter[data-v-7e64e2ea]
  opacity: 0
  transform: translateX(-20px)

.weeks-slide-down-leave-to[data-v-7e64e2ea]
  opacity: 0
  transform: translateY(20px)

.weeks-slide-up-enter[data-v-7e64e2ea]
  opacity: 0
  transform: translateY(20px)

.weeks-slide-down-enter[data-v-7e64e2ea]
  opacity: 0
  transform: translateY(-20px)

.weeks-slide-up-leave-to[data-v-7e64e2ea]
  opacity: 0
  transform: translateY(-20px)

.title-fade-enter[data-v-7e64e2ea]
  opacity: 0

.title-fade-leave-to[data-v-7e64e2ea]
  opacity: 0

.title-none-enter[data-v-7e64e2ea]
  opacity: 0

.title-none-leave-to[data-v-7e64e2ea]
  opacity: 0

.weeks-fade-enter[data-v-7e64e2ea]
  opacity: 0

.weeks-fade-leave-to[data-v-7e64e2ea]
  opacity: 0

.weeks-none-enter[data-v-7e64e2ea]
  opacity: 0

.weeks-none-leave-to[data-v-7e64e2ea]
  opacity: 0

@-webkit-keyframes scaleEnter-data-v-3074656c
  0%
    transform: scaleX(.7) scaleY(.7)
    opacity: .3

  90%
    transform: scaleX(1.1) scaleY(1.1)

  95%
    transform: scaleX(.95) scaleY(.95)

  to
    transform: scaleX(1) scaleY(1)
    opacity: 1


@keyframes scaleEnter-data-v-3074656c
  0%
    transform: scaleX(.7) scaleY(.7)
    opacity: .3

  90%
    transform: scaleX(1.1) scaleY(1.1)

  95%
    transform: scaleX(.95) scaleY(.95)

  to
    transform: scaleX(1) scaleY(1)
    opacity: 1


@-webkit-keyframes scaleLeave-data-v-3074656c
  0%
    transform: scaleX(1) scaleY(1)

  60%
    transform: scaleX(1.18) scaleY(1.18)
    opacity: .2

  to
    transform: scaleX(1.15) scaleY(1.18)
    opacity: 0


@keyframes scaleLeave-data-v-3074656c
  0%
    transform: scaleX(1) scaleY(1)

  60%
    transform: scaleX(1.18) scaleY(1.18)
    opacity: .2

  to
    transform: scaleX(1.15) scaleY(1.18)
    opacity: 0


@-webkit-keyframes slideRightScaleEnter-data-v-3074656c
  0%
    transform: scaleX(0)

  60%
    transform: scaleX(1.08)


@keyframes slideRightScaleEnter-data-v-3074656c
  0%
    transform: scaleX(0)

  60%
    transform: scaleX(1.08)


@-webkit-keyframes slideRightTranslateEnter-data-v-3074656c
  0%
    transform: translateX(-6px)

  60%
    transform: translateX(2px)


@keyframes slideRightTranslateEnter-data-v-3074656c
  0%
    transform: translateX(-6px)

  60%
    transform: translateX(2px)


@-webkit-keyframes slideLeftScaleEnter-data-v-3074656c
  0%
    transform: scaleX(0)

  60%
    transform: scaleX(1.08)


@keyframes slideLeftScaleEnter-data-v-3074656c
  0%
    transform: scaleX(0)

  60%
    transform: scaleX(1.08)


@-webkit-keyframes slideLeftTranslateEnter-data-v-3074656c
  0%
    transform: translateX(6px)

  60%
    transform: translateX(-2px)


@keyframes slideLeftTranslateEnter-data-v-3074656c
  0%
    transform: translateX(6px)

  60%
    transform: translateX(-2px)


.popover-container[data-v-3074656c]
  position: relative
  display: inline-block
  outline: none

.popover-origin[data-v-3074656c]
  position: absolute
  transform-origin: top center
  z-index: 10
  pointer-events: none

.popover-origin
  &.direction-top[data-v-3074656c]
    bottom: 100%

  &.direction-bottom[data-v-3074656c]
    top: 100%

  &.direction-left[data-v-3074656c]
    top: 0
    right: 100%

  &.direction-right[data-v-3074656c]
    top: 0
    left: 100%

  &.direction-bottom
    &.align-left[data-v-3074656c]
      left: 0

    &.align-center[data-v-3074656c]
      left: 50%

    &.align-right[data-v-3074656c]
      right: 0


  &.direction-top
    &.align-left[data-v-3074656c]
      left: 0

    &.align-center[data-v-3074656c]
      left: 50%

    &.align-right[data-v-3074656c]
      right: 0


  &.direction-left
    &.align-top[data-v-3074656c]
      top: 0

    &.align-middle[data-v-3074656c]
      top: 50%

    &.align-bottom[data-v-3074656c]
      top: auto
      bottom: 0


  &.direction-right
    &.align-top[data-v-3074656c]
      top: 0

    &.align-middle[data-v-3074656c]
      top: 50%

    &.align-bottom[data-v-3074656c]
      top: auto
      bottom: 0


  .popover-content-wrapper[data-v-3074656c]
    position: relative
    outline: none

  .popover-content-wrapper
    &.interactive[data-v-3074656c]
      pointer-events: all

    &.align-center[data-v-3074656c]
      transform: translateX(-50%)

    &.align-middle[data-v-3074656c]
      transform: translateY(-50%)

    .popover-content[data-v-3074656c]
      position: relative
      background-color: #fafafa
      border: 1px solid rgba(34,36,38,.15)
      border-radius: 5px
      box-shadow: 0 1px 2px 0 rgba(34,36,38,.15)
      padding: 4px
      &:after
        display: block
        position: absolute
        background: inherit
        border: inherit
        border-width: 1px 1px 0 0
        width: 12px
        height: 12px
        content: ""


    .popover-content
      &.direction-bottom[data-v-3074656c]:after
        top: 0
        border-width: 1px 1px 0 0

      &.direction-top[data-v-3074656c]:after
        top: 100%
        border-width: 0 0 1px 1px

      &.direction-left[data-v-3074656c]:after
        left: 100%
        border-width: 0 1px 1px 0

      &.direction-right[data-v-3074656c]:after
        left: 0
        border-width: 1px 0 0 1px

      &.align-left[data-v-3074656c]:after
        left: 20px
        transform: translateY(-50%) translateX(-50%) rotate(-45deg)

      &.align-right[data-v-3074656c]:after
        right: 20px
        transform: translateY(-50%) translateX(50%) rotate(-45deg)

      &.align-center[data-v-3074656c]:after
        left: 50%
        transform: translateY(-50%) translateX(-50%) rotate(-45deg)

      &.align-top[data-v-3074656c]:after
        top: 18px
        transform: translateY(-50%) translateX(-50%) rotate(-45deg)

      &.align-middle[data-v-3074656c]:after
        top: 50%
        transform: translateY(-50%) translateX(-50%) rotate(-45deg)

      &.align-bottom[data-v-3074656c]:after
        bottom: 18px
        transform: translateY(50%) translateX(-50%) rotate(-45deg)




.fade-enter-active[data-v-3074656c]
  transition: all .14s ease-in-out

.fade-leave-active[data-v-3074656c]
  transition: all .14s ease-in-out

.slide-fade-enter-active[data-v-3074656c]
  transition: all .14s ease-in-out

.slide-fade-leave-active[data-v-3074656c]
  transition: all .14s ease-in-out

.fade-enter[data-v-3074656c]
  opacity: 0

.fade-leave-to[data-v-3074656c]
  opacity: 0

.slide-fade-enter[data-v-3074656c]
  opacity: 0

.slide-fade-leave-to[data-v-3074656c]
  opacity: 0

.slide-fade-enter
  &.direction-bottom[data-v-3074656c]
    transform: translateY(-15px)

  &.direction-top[data-v-3074656c]
    transform: translateY(15px)

  &.direction-left[data-v-3074656c]
    transform: translateX(15px)

  &.direction-right[data-v-3074656c]
    transform: translateX(-15px)


.slide-fade-leave-to
  &.direction-bottom[data-v-3074656c]
    transform: translateY(-15px)

  &.direction-top[data-v-3074656c]
    transform: translateY(15px)

  &.direction-left[data-v-3074656c]
    transform: translateX(15px)

  &.direction-right[data-v-3074656c]
    transform: translateX(-15px)


.c-week[data-v-28896542]
  flex-grow: 1
  display: flex

@-webkit-keyframes scaleEnter-data-v-b785915e
  0%
    transform: scaleX(.7) scaleY(.7)
    opacity: .3

  90%
    transform: scaleX(1.1) scaleY(1.1)

  95%
    transform: scaleX(.95) scaleY(.95)

  to
    transform: scaleX(1) scaleY(1)
    opacity: 1


@-webkit-keyframes scaleLeave-data-v-b785915e
  0%
    transform: scaleX(1) scaleY(1)

  60%
    transform: scaleX(1.18) scaleY(1.18)
    opacity: .2

  to
    transform: scaleX(1.15) scaleY(1.18)
    opacity: 0


@-webkit-keyframes slideRightScaleEnter-data-v-b785915e
  0%
    transform: scaleX(0)

  60%
    transform: scaleX(1.08)


@-webkit-keyframes slideRightTranslateEnter-data-v-b785915e
  0%
    transform: translateX(-6px)

  60%
    transform: translateX(2px)


@-webkit-keyframes slideLeftScaleEnter-data-v-b785915e
  0%
    transform: scaleX(0)

  60%
    transform: scaleX(1.08)


@-webkit-keyframes slideLeftTranslateEnter-data-v-b785915e
  0%
    transform: translateX(6px)

  60%
    transform: translateX(-2px)


@keyframes scaleEnter-data-v-b785915e
  0%
    transform: scaleX(.7) scaleY(.7)
    opacity: .3

  90%
    transform: scaleX(1.1) scaleY(1.1)

  95%
    transform: scaleX(.95) scaleY(.95)

  to
    transform: scaleX(1) scaleY(1)
    opacity: 1


@keyframes scaleLeave-data-v-b785915e
  0%
    transform: scaleX(1) scaleY(1)

  60%
    transform: scaleX(1.18) scaleY(1.18)
    opacity: .2

  to
    transform: scaleX(1.15) scaleY(1.18)
    opacity: 0


@keyframes slideRightScaleEnter-data-v-b785915e
  0%
    transform: scaleX(0)

  60%
    transform: scaleX(1.08)


@keyframes slideRightTranslateEnter-data-v-b785915e
  0%
    transform: translateX(-6px)

  60%
    transform: translateX(2px)


@keyframes slideLeftScaleEnter-data-v-b785915e
  0%
    transform: scaleX(0)

  60%
    transform: scaleX(1.08)


@keyframes slideLeftTranslateEnter-data-v-b785915e
  0%
    transform: translateX(6px)

  60%
    transform: translateX(-2px)


.c-day-popover[data-v-b785915e]
  flex: 1

.c-day[data-v-b785915e]
  height: 32px
  position: relative

.c-day-layer[data-v-b785915e]
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  pointer-events: none

.c-day-box-center-center[data-v-b785915e]
  justify-content: center
  transform-origin: 50% 50%
  display: flex
  align-items: center
  margin: 0
  padding: 0
  height: 100%

.c-day-box-left-center[data-v-b785915e]
  display: flex
  align-items: center
  margin: 0
  padding: 0
  height: 100%
  justify-content: flex-start
  transform-origin: 0 50%

.c-day-box-right-center[data-v-b785915e]
  display: flex
  justify-content: flex-end
  align-items: center
  margin: 0
  padding: 0
  height: 100%
  transform-origin: 100% 50%

.c-day-box-center-bottom[data-v-b785915e]
  display: flex
  justify-content: center
  align-items: flex-end
  margin: 0
  padding: 0

.c-day-backgrounds[data-v-b785915e]
  position: relative
  width: 100%
  height: 100%
  overflow: hidden
  backface-visibility: hidden

.c-day-background[data-v-b785915e]
  transition: height .13s ease-in-out,background-color .13s ease-in-out

.shift-left[data-v-b785915e]
  margin-left: -1px

.shift-right[data-v-b785915e]
  margin-right: -1px

.shift-left-right[data-v-b785915e]
  margin: 0 -1px

.c-day-dots[data-v-b785915e]
  display: flex
  justify-content: center
  align-items: center
  margin: 0
  padding: 0

.c-day-dot[data-v-b785915e]
  width: 5px
  height: 5px
  border-radius: 50%
  background-color: #66b3cc
  transition: all .18s ease-in-out
  &:not(:last-child)
    margin-right: 3px


.c-day-bars[data-v-b785915e]
  display: flex
  justify-content: flex-start
  align-items: center
  margin: 0
  padding: 0
  width: 75%

.c-day-bar[data-v-b785915e]
  flex-grow: 1
  height: 3px
  background-color: #66b3cc
  transition: all .18s ease-in-out

.c-day-content[data-v-b785915e]
  display: flex
  justify-content: center
  align-items: center
  margin: 0
  padding: 0
  width: 2.4rem
  height: 2.4rem
  font-size: 1.6rem
  font-weight: 400
  line-height: 1
  border-radius: 50%
  transition: all .18s ease-in-out
  user-select: none
  cursor: default
  pointer-events: all

.c-day-popover-content[data-v-b785915e]
  font-size: .8rem
  font-weight: 400

.background-enter-active
  &.c-day-fade-enter[data-v-b785915e]
    transition: opacity .2s ease-in-out

  &.c-day-slide-right-scale-enter[data-v-b785915e]
    animation: slideRightScaleEnter-data-v-b785915e .16s ease-in-out

  &.c-day-slide-right-translate-enter[data-v-b785915e]
    animation: slideRightTranslateEnter-data-v-b785915e .16s ease-in-out

  &.c-day-slide-left-scale-enter[data-v-b785915e]
    animation: slideLeftScaleEnter-data-v-b785915e .16s ease-in-out

  &.c-day-slide-left-translate-enter[data-v-b785915e]
    animation: slideLeftTranslateEnter-data-v-b785915e .16s ease-in-out

  &.c-day-scale-enter[data-v-b785915e]
    animation: scaleEnter-data-v-b785915e .16s ease-in-out


.background-leave-active
  &.c-day-fade-leave[data-v-b785915e]
    transition: opacity .2s ease-in-out

  &.c-day-scale-leave[data-v-b785915e]
    animation: scaleLeave-data-v-b785915e .2s ease-in-out


@-webkit-keyframes scaleEnter-data-v-54b1f93b
  0%
    transform: scaleX(.7) scaleY(.7)
    opacity: .3

  90%
    transform: scaleX(1.1) scaleY(1.1)

  95%
    transform: scaleX(.95) scaleY(.95)

  to
    transform: scaleX(1) scaleY(1)
    opacity: 1


@keyframes scaleEnter-data-v-54b1f93b
  0%
    transform: scaleX(.7) scaleY(.7)
    opacity: .3

  90%
    transform: scaleX(1.1) scaleY(1.1)

  95%
    transform: scaleX(.95) scaleY(.95)

  to
    transform: scaleX(1) scaleY(1)
    opacity: 1


@-webkit-keyframes scaleLeave-data-v-54b1f93b
  0%
    transform: scaleX(1) scaleY(1)

  60%
    transform: scaleX(1.18) scaleY(1.18)
    opacity: .2

  to
    transform: scaleX(1.15) scaleY(1.18)
    opacity: 0


@keyframes scaleLeave-data-v-54b1f93b
  0%
    transform: scaleX(1) scaleY(1)

  60%
    transform: scaleX(1.18) scaleY(1.18)
    opacity: .2

  to
    transform: scaleX(1.15) scaleY(1.18)
    opacity: 0


@-webkit-keyframes slideRightScaleEnter-data-v-54b1f93b
  0%
    transform: scaleX(0)

  60%
    transform: scaleX(1.08)


@keyframes slideRightScaleEnter-data-v-54b1f93b
  0%
    transform: scaleX(0)

  60%
    transform: scaleX(1.08)


@-webkit-keyframes slideRightTranslateEnter-data-v-54b1f93b
  0%
    transform: translateX(-6px)

  60%
    transform: translateX(2px)


@keyframes slideRightTranslateEnter-data-v-54b1f93b
  0%
    transform: translateX(-6px)

  60%
    transform: translateX(2px)


@-webkit-keyframes slideLeftScaleEnter-data-v-54b1f93b
  0%
    transform: scaleX(0)

  60%
    transform: scaleX(1.08)


@keyframes slideLeftScaleEnter-data-v-54b1f93b
  0%
    transform: scaleX(0)

  60%
    transform: scaleX(1.08)


@-webkit-keyframes slideLeftTranslateEnter-data-v-54b1f93b
  0%
    transform: translateX(6px)

  60%
    transform: translateX(-2px)


@keyframes slideLeftTranslateEnter-data-v-54b1f93b
  0%
    transform: translateX(6px)

  60%
    transform: translateX(-2px)


.c-day-popover-row[data-v-54b1f93b]
  display: flex
  align-items: center
  padding: 2px 5px
  transition: all .18s ease-in-out
  &:not(:first-child)
    margin-top: 3px


.c-day-popover-row
  &.selectable[data-v-54b1f93b]
    cursor: pointer
    &:hover
      background-color: rgba(0,0,0,.1)


  .c-day-popover-indicator[data-v-54b1f93b]
    display: flex
    justify-content: center
    align-items: center
    flex-grow: 0
    width: 15px
    margin-right: 3px

  .c-day-popover-content[data-v-54b1f93b]
    display: flex
    align-items: center
    flex-wrap: none
    flex-grow: 1
    transition: all .18s ease-in-out

  .c-day-popover-indicator span[data-v-54b1f93b]
    transition: all .18s ease-in-out


@-webkit-keyframes scaleEnter-data-v-c1abd998
  0%
    transform: scaleX(.7) scaleY(.7)
    opacity: .3

  90%
    transform: scaleX(1.1) scaleY(1.1)

  95%
    transform: scaleX(.95) scaleY(.95)

  to
    transform: scaleX(1) scaleY(1)
    opacity: 1


@-webkit-keyframes scaleLeave-data-v-c1abd998
  0%
    transform: scaleX(1) scaleY(1)

  60%
    transform: scaleX(1.18) scaleY(1.18)
    opacity: .2

  to
    transform: scaleX(1.15) scaleY(1.18)
    opacity: 0


@-webkit-keyframes slideRightScaleEnter-data-v-c1abd998
  0%
    transform: scaleX(0)

  60%
    transform: scaleX(1.08)


@-webkit-keyframes slideRightTranslateEnter-data-v-c1abd998
  0%
    transform: translateX(-6px)

  60%
    transform: translateX(2px)


@-webkit-keyframes slideLeftScaleEnter-data-v-c1abd998
  0%
    transform: scaleX(0)

  60%
    transform: scaleX(1.08)


@-webkit-keyframes slideLeftTranslateEnter-data-v-c1abd998
  0%
    transform: translateX(6px)

  60%
    transform: translateX(-2px)


@keyframes scaleEnter-data-v-c1abd998
  0%
    transform: scaleX(.7) scaleY(.7)
    opacity: .3

  90%
    transform: scaleX(1.1) scaleY(1.1)

  95%
    transform: scaleX(.95) scaleY(.95)

  to
    transform: scaleX(1) scaleY(1)
    opacity: 1


@keyframes scaleLeave-data-v-c1abd998
  0%
    transform: scaleX(1) scaleY(1)

  60%
    transform: scaleX(1.18) scaleY(1.18)
    opacity: .2

  to
    transform: scaleX(1.15) scaleY(1.18)
    opacity: 0


@keyframes slideRightScaleEnter-data-v-c1abd998
  0%
    transform: scaleX(0)

  60%
    transform: scaleX(1.08)


@keyframes slideRightTranslateEnter-data-v-c1abd998
  0%
    transform: translateX(-6px)

  60%
    transform: translateX(2px)


@keyframes slideLeftScaleEnter-data-v-c1abd998
  0%
    transform: scaleX(0)

  60%
    transform: scaleX(1.08)


@keyframes slideLeftTranslateEnter-data-v-c1abd998
  0%
    transform: translateX(6px)

  60%
    transform: translateX(-2px)


.c-nav[data-v-c1abd998]
  transition: height 5s ease-in-out
  color: #333

.c-header[data-v-c1abd998]
  justify-content: space-between
  border-bottom: 1px solid #dadada
  padding: 3px 0
  display: flex
  align-items: center

.c-arrow[data-v-c1abd998]
  display: flex
  align-items: center
  justify-content: center
  margin: 0
  padding: 0
  font-size: 1.6rem
  transition: fill-opacity .3s ease-in-out
  cursor: pointer
  user-select: none

.c-title[data-v-c1abd998]
  font-weight: 500
  transition: all .25s ease-in-out
  font-size: 1.4rem
  cursor: pointer
  user-select: none

.c-table-cell[data-v-c1abd998]
  font-size: 1.4rem
  cursor: pointer
  user-select: none
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 100%
  position: relative
  font-weight: 400
  background-color: #fff
  transition: all .1s ease-in-out
  &:hover
    background-color: #f0f0f0


.c-disabled[data-v-c1abd998]
  opacity: .2
  cursor: not-allowed
  pointer-events: none
  &:hover
    background-color: transparent


.c-active[data-v-c1abd998]
  background-color: #f0f0f0
  font-weight: 600

.c-indicators[data-v-c1abd998]
  position: absolute
  display: flex
  justify-content: center
  align-items: center
  bottom: 5px
  width: 100%
  transition: all .1s ease-in-out

.c-table[data-v-c1abd998]
  table-layout: fixed
  width: 100%
  border-collapse: collapse

.indicators-enter-active[data-v-c1abd998]
  transition: all .1s ease-in-out

.indicators-leave-active[data-v-c1abd998]
  transition: all .1s ease-in-out

.indicators-enter[data-v-c1abd998]
  opacity: 0

.indicators-leave-to[data-v-c1abd998]
  opacity: 0

.icon[data-v-67c09877]
  display: inline-block
  width: 1em
  height: 1em
  align-self: center
  position: relative
  stroke-width: 0
  stroke: currentColor
  fill: currentColor
  line-height: 1
  &:hover
    fill-opacity: .5


.icon
  svg[data-v-67c09877]
    width: 1em
    height: 1em

  &.baseline svg[data-v-67c09877]
    bottom: -.125em
    position: absolute


.c-delete[data-v-dfdb4f80]
  line-height: 1.5
  cursor: pointer
  font-size: 1rem
  user-select: none
  background-color: hsla(0,0%,4%,.2)
  border: none
  border-radius: 290486px
  display: inline-block
  flex-grow: 0
  flex-shrink: 0
  width: 20px
  height: 20px
  max-height: 20px
  max-width: 20px
  min-height: 20px
  min-width: 20px
  outline: none
  position: relative
  vertical-align: top
  &:after
    background-color: #fff
    content: ""
    display: block
    left: 50%
    position: absolute
    top: 50%
    transform: translateX(-50%) translateY(-50%) rotate(45deg)
    transform-origin: center center
    height: 50%
    width: 2px

  &:before
    background-color: #fff
    content: ""
    display: block
    left: 50%
    position: absolute
    top: 50%
    transform: translateX(-50%) translateY(-50%) rotate(45deg)
    transform-origin: center center
    height: 2px
    width: 50%

  &:focus
    background-color: rgba(0,0,0,.4)

  &:hover
    background-color: rgba(0,0,0,.4)


*
  box-sizing: border-box

.date-label[data-v-7e54e052]
  text-align: center

.days-nights[data-v-7e54e052]
  justify-content: center
  margin-top: 3px
  display: flex
  align-items: center

.days-nights
  > span[data-v-7e54e052]
    display: flex
    align-items: center
    font-weight: 700
    &:not(:first-child)
      margin-left: 13px


  .vc-moon-o[data-v-7e54e052]
    margin-right: 5px
    font-size: 1rem
    color: #4d4d64

  .vc-sun-o[data-v-7e54e052]
    margin-right: 5px
    font-size: 1rem
    color: #ffb366


.c-pane.is-single[data-v-7e64e2ea]
  width: 100%

.popover-container.expanded[data-v-3074656c]
  display: block

.background-enter.c-day-fade-enter[data-v-b785915e]
  opacity: 0

.background-leave-to.c-day-fade-leave[data-v-b785915e]
  opacity: 0

.c-indicators .c-indicator[data-v-c1abd998]
  width: 5px
  height: 5px
  border-radius: 50%
  &:not(:first-child)
    margin-left: 3px


.c-table tr
  td[data-v-c1abd998]
    border: 1px solid #dadada
    width: 60px
    height: 34px
    &:first-child
      border-left: 0

    &:last-child
      border-right: 0


  &:first-child td[data-v-c1abd998]
    border-top: 0

  &:last-child td[data-v-c1abd998]
    border-bottom: 0


.c-tag[data-v-dfdb4f80]:not(body)
  display: inline-flex
  align-items: center
  color: #3a3a3a
  cursor: pointer
  background-color: #fafafa
  border: 1px solid rgba(0,0,0,.1)
  border-radius: 5px
  font-size: 13px
  height: 2em
  justify-content: center
  line-height: 1.5
  padding-left: .75em
  padding-right: .75em
  white-space: nowrap
  transition: all .2s ease-in-out
  &:hover
    background-color: #eaeaea


.c-tag:not(body)
  .c-delete[data-v-dfdb4f80]
    margin-left: .25em
    margin-right: -.375em

  &.is-delete[data-v-dfdb4f80]
    margin-left: 1px
    padding: 0
    position: relative
    width: 2em
    &:after
      background-color: currentColor
      content: ""
      display: block
      left: 50%
      position: absolute
      top: 50%
      transform: translateX(-50%) translateY(-50%) rotate(45deg)
      transform-origin: center center
      height: 50%
      width: 1px
      &:focus
        background-color: #e60000

      &:hover
        background-color: #e60000

      &:active
        background-color: #c00


    &:before
      background-color: currentColor
      content: ""
      display: block
      left: 50%
      position: absolute
      top: 50%
      transform: translateX(-50%) translateY(-50%) rotate(45deg)
      transform-origin: center center
      height: 1px
      width: 50%


  &.is-delete.is-rounded[data-v-dfdb4f80]
    border-radius: 290486px




// Admin fixes
.wp-admin
  .c-day-content[data-v-b785915e]
    width: 1.6rem
    height: 1.6rem
    font-size: 0.8rem

  .c-weekdays[data-v-7e64e2ea]
    font-size: .8rem

  .c-header .c-title-layout .c-title-popover .c-title-anchor .c-title[data-v-7e64e2ea]
    font-size: .8rem
