.categories-item
  display: block
  text-decoration: none
  word-wrap: break-word
  word-break: break-word
  color: $color-text

  &:hover
    color: $color-main

  // +media-breakpoint-down(lg)
  //   padding: $spacer/2

  &:hover,
  &:focus
    text-decoration: none

  & + &
    margin-top: $spacer/2
    padding-top: $spacer/2
    border-top: 1px solid $color-border

.other
.other-item
  display: block
  padding: $spacer
  background: $color-light
  color: $color-gray

  &:hover
    color: $color-main
    text-decoration: none

  + .other-item
    margin-top: $spacer/2
