.content--main
  flex: 1 1 auto

.content--categoryList
  display: flex
  flex-flow: row wrap
  align-items: flex-start

  .type-tools
    flex: 0 0 calc(100% / 3 - 2rem)
    position: relative
    margin: $spacer/2

    &::before
      content: ''
      display: block
      padding-top: 100%
      width: 100%

    h2
      background: $color-light
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      margin: 0
      font-size: 1.8rem
      line-height: 1
      font-weight: 400
      text-transform: uppercase

      a
        display: flex
        flex-flow: column nowrap
        align-items: center
        justify-content: center
        padding: $spacer
        height: 100%
        width: 100%
        color: $color-text

        &:hover
          color: $color-main
