
/*------------------------------------//
//  Media
//------------------------------------*/

.Dashboard-images
  .actions
    margin-bottom: $spacer

.Media-list
  display: flex
  flex-flow: row wrap
  align-items: flex-start
  justify-content: flex-start
  margin-left: -.5*$spacer
  margin-right: -.5*$spacer

.Media-item
  position: relative
  margin: $spacer/2

.Media-sortablePlaceholder
  position: relative
  margin: $spacer/2
  min-width: 30rem
  min-height: 16.8rem

  &:after
    content: "\f03e"
    font-family: FontAwesome
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
    font-size: 2.4rem

.Media-itemHandle
  position: absolute
  top: -1rem
  right: -1rem
  padding: 1rem
  background: white
  border-radius: 100px
  box-shadow: 0 0 1px #bfbfbf
  z-index: 1
  width: 4rem
  height: 4rem
  text-align: center
  cursor: pointer
  opacity: .5
  transition-property: all
  transition-duration: 300ms
  transition-timing-function: ease-out

  .Media-item:hover &
    opacity: 1

.Media-itemImage
  margin-bottom: 0
  img
    display: block
    margin-left: auto
    margin-right: auto


.Media-itemText
  margin-bottom: 1rem
  display: none

.Media-itemActions
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  background: linear-gradient(to top, rgba(black,.95), rgba(black,0))
  padding: $spacer*1.5 $spacer $spacer/2
  text-align: center
  opacity: 0
  visibility: hidden
  transition-property: all
  transition-duration: 300ms
  transition-timing-function: ease-out

  .Media-item:hover &
    opacity: 1
    visibility: visible

.Media-remove
  display: inline-block
  padding: $spacer/2
  cursor: pointer
  text-transform: uppercase
  font-weight: 600
  letter-spacing: 2px
  background: rgba(#ff4040,.75)
  border-radius: 100px
  color: white
  transition-property: all
  transition-duration: 300ms
  transition-timing-function: ease-out
  transform: translate3d(0,1rem,0)
  transform: translateY(1rem)
  opacity: 0

  &:hover
    background: rgba(#ff4040,1)

  .Media-item:hover &
    transform: translate3d(0,0,0)
    transform: translateY(0)
    opacity: 1

.Media-removeIcon
  font-size: 1.8rem

.Media-removeText
  display: none
