
.datepicker
  position: relative

input.datepicker-input.with-reset-button
  padding-right: 25px

.datepicker > button.close
  position: absolute
  top: 0
  right: 0
  outline: none
  z-index: 2
  display: block
  width: 34px
  height: 34px
  line-height: 34px
  text-align: center
  &:focus
    opacity: 0.2

.datepicker-popup
  margin-left: auto
  margin-right: auto
  background: #fff
  z-index: 1000
  max-width: 100%
  +clearfix

.datepicker-inner
  width: 218px
  float: left

  +breakpoint-down(md)
    float: none
    margin-left: auto
    margin-right: auto

.datepicker-body
  padding: 10px 10px
  text-align: center

.datepicker-ctrl
  p, span
    display: inline-block
    width: 28px
    line-height: 28px
    height: 28px

.datepicker-body span
  display: inline-block
  width: 28px
  line-height: 28px
  height: 28px

.datepicker-ctrl
  p
    width: 65%
  span
    position: absolute

.datepicker-body span
  text-align: center

.datepicker-monthRange span
  width: 48px
  height: 50px
  line-height: 45px

.datepicker-item-disable
  background-color: #fff !important
  cursor: not-allowed !important

.decadeRange span
  &:first-child, &:last-child
    color: #999

.datepicker-dateRange
  span
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

    &:hover
      color: $color-main

  .datepicker-item-disable,
  .datepicker-item-gray
    color: #999

  .datepicker-dateRange-item-active
    color: $color-main

  .datepicker-dateRange-item-selected
    background: $color-main
    color: white
    &:hover
      background: $color-main
      color: white

.datepicker-monthRange
  margin-top: 10px
  span
    cursor: pointer

.datepicker-ctrl
  span, p
    cursor: pointer

.datepicker-dateRange span
  cursor: pointer

.datepicker-monthRange span:hover
  background-color: #eeeeee

.datepicker-weekRange,
.datepicker-dateRange
  +clearfix()

  span
    float: left
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none


.datepicker-ctrl
  p:hover, i:hover
    background-color: #eeeeee

// .datepicker-dateRange span:hover, .datepicker-dateRange-item-hover
//   background-color: #eeeeee

.datepicker-dateRange
  .daytoday-start, .daytoday-end
    // background: $gray-lighter !important
    color: $color-main !important
    box-shadow: inset 0 0 0 1px
    &:hover
      // background: $gray-lighter !important
      color: $color-main !important
      box-shadow: inset 0 0 0 1px
  .daytoday-range
    background-color: #ddd
    &:hover
      background-color: #ddd

.datepicker-weekRange span
  font-weight: bold

.datepicker-label
  background-color: #f8f8f8
  font-weight: 700
  padding: 7px 0
  text-align: center

.datepicker-ctrl
  position: relative
  line-height: 30px
  font-weight: bold
  text-align: center

.month-btn
  font-weight: bold
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.datepicker-preBtn
  top: 6px
  left: 2px

.datepicker-nextBtn
  top: 6px
  right: 2px
