/* Preload images */

body.lb-disable-scrolling
  overflow: hidden


.lightboxOverlay
  position: absolute
  top: 0
  left: 0
  z-index: 9999
  background-color: black
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80)
  opacity: 0.8
  display: none


.lightbox
  position: absolute
  left: 0
  width: 100%
  z-index: 10000
  text-align: center
  line-height: 0
  font-weight: normal


.lightbox .lb-image
  display: block
  height: auto
  max-width: inherit
  max-height: none
  // border-radius: 3px

  /* Image border */
  // border: 4px solid white


.lightbox a img
  border: none


.lb-outerContainer
  position: relative
  *zoom: 1
  width: 250px
  height: 250px
  margin: 0 auto
  // border-radius: 4px

  /* Background color behind image.
     This is visible during transitions. */
  background-color: white


.lb-outerContainer:after
  content: ""
  display: table
  clear: both


.lb-loader
  position: absolute
  top: 43%
  left: 0
  height: 25%
  width: 100%
  text-align: center
  line-height: 0


.lb-cancel
  display: block
  width: 4px
  height: 32px
  margin: auto
  background: black
  animation-name: loader
  animation-iteration-count: infinite
  animation-duration: 1.5s
  animation-fill-mode: both
  animation-timing-function:  all 600ms cubic-bezier(1, 0, 0, 1)
  animation-timing-function:  all 600ms cubic-bezier(1, 0, 0, 1)


.lb-nav
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%
  z-index: 10


.lb-container > .nav
  left: 0


.lb-nav a
  position: relative
  outline: none
  background-image: url('data:image/gifbase64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')


.lb-prev, .lb-next
  height: 100%
  cursor: pointer
  display: block

  &::after
    font-family: FontAwesome
    font-size: 2.8rem
    width: 3.4rem
    height: 3.4rem
    text-align: center
    position: absolute
    top: calc(50% - 1.7rem)
    color: white


.lb-nav a.lb-prev
  width: 34%
  left: 0
  float: left
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0)
  opacity: 0
  transition: opacity 0.6s

  &::after
    content: '\f104'
    left: 2rem


.lb-nav a.lb-prev:hover
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100)
  opacity: 1


.lb-nav a.lb-next
  width: 64%
  right: 0
  float: right
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0)
  opacity: 0
  transition: opacity 0.6s

  &::after
    content: '\f105'
    right: 2rem


.lb-nav a.lb-next:hover
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100)
  opacity: 1


.lb-dataContainer
  margin: 0 auto
  padding-top: 5px
  *zoom: 1
  width: 100%
  -moz-border-radius-bottomleft: 4px
  -webkit-border-bottom-left-radius: 4px
  border-bottom-left-radius: 4px
  -moz-border-radius-bottomright: 4px
  -webkit-border-bottom-right-radius: 4px
  border-bottom-right-radius: 4px


.lb-dataContainer:after
  content: ""
  display: table
  clear: both


.lb-data
  padding: 0 4px
  color: #ccc


.lb-data .lb-details
  width: 85%
  float: left
  text-align: left
  line-height: 1.1em


.lb-data .lb-caption
  font-size: 13px
  font-weight: bold
  line-height: 1em


.lb-data .lb-caption a
  color: #4ae


.lb-data .lb-number
  display: block
  clear: left
  padding-bottom: 1em
  font-size: 12px
  color: #999999
  display: none !important


.lb-data .lb-close
  position: relative
  display: block
  float: right
  width: 30px
  height: 30px
  color: white
  text-align: right
  outline: none
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70)
  opacity: 0.7
  -webkit-transition: opacity 0.2s
  -moz-transition: opacity 0.2s
  -o-transition: opacity 0.2s
  transition: opacity 0.2s

  &::after
    font-family: FontAwesome
    content: '\f00d'
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
    font-size: 2.8rem

.lb-data .lb-close:hover
  cursor: pointer
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100)
  opacity: 1


@keyframes loader
  0%
    transform: rotate(0deg)

  75%
    transform: rotate(730deg)

  100%
    transform: rotate(720deg)
