.loader-mask
  position: fixed
  top: 0
  left: 0
  height: 100%
  width: 100%
  background: rgba(black,.75)
  z-index: 9999
  display: flex
  align-items: center
  justify-content: center
  pointer-events: none

// <div class="loader--spinner"></div>

.loader--spinner
  position: relative
  margin: 0
  padding: 0
  width: 3rem
  height: 3rem

  &:after
    position: absolute
    content: ""
    left: 50%
    top: 50%
    margin-top: -2.5rem
    margin-left: -2.5rem
    width: 5rem
    height: 5rem
    cursor: wait
    background-color: rgba(0,0,0,0)
    border-radius: 10rem
    animation: loader-spin .5s infinite linear
    border-width: 2px
    border-style: solid
    border-right-color: $color-main
    border-bottom-color: $color-main
    border-left-color: rgba($color-main, 0)
    border-top-color: $color-main


@keyframes loader-spin
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(359deg)
