.brand
  display: inline-flex
  align-items: center
  flex-flow: row nowrap

  &-logo
    display: inline-block
    vertical-align: top
    transform-origin: center

    &:hover
      animation-name: logoHover
      animation-duration: .5s
      animation-timing-function: linear
      animation-fill-mode: both

    img
      display: block

  &-name
    display: inline-block
    vertical-align: top
    font-size: 2.4rem
    line-height: 1
    color: $color-dark
    text-transform: uppercase

// @keyframes logoHover
//   0%
//     transform: rotate(0deg) scale(1)
//
//   50%
//     transform: rotate(270deg) scale(2)
//     opacity: 0.5
//
//   75%
//     transform: rotate(360deg) scale(2.5)
//     opacity: 0
//
//   85%
//     transform: rotate(0deg) scale(.9)
//     opacity: 0
//
//   100%
//     transform: rotate(0deg) scale(1)
//     opacity: 1

  //
  //
  // 0%
  //   transform: scale(0.0)
  // 20%
  //   transform: scale(1.0)
  // 40%
  //   transform: scale(1.5)
  // 60%
  //   transform: scale(2.0)
  //   opacity: .5
  // 80%
  //   transform: scale(2.5)
  //   opacity: .25
  // 100%
  //   transform: scale(3.0)
  //   opacity: 0
