
.nav--global
  background: rgba(white,.85)
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: space-between
  padding: $spacer/2 $spacer*2 $spacer/2 $spacer

  .page--homepage &
    background: linear-gradient(to bottom, rgba(white,.9), rgba(white,0))
    padding: $spacer $spacer*2 $spacer $spacer

  .nav-items
    display: flex
    flex-flow: row nowrap

    + .nav-items
      margin-left: $spacer*2

  .nav-collapse
    display: flex
    flex-flow: row nowrap
    margin-right: 0
    margin-left: auto

    +breakpoint-down(sm)
      display: none

  .nav-toggle
    display: none
    color: white
    +breakpoint-down(sm)
      display: inline-flex
      height: 3.4rem
      width: 3.4rem
      line-height: 3.4rem
      color: $color-alt

      &:hover
        opacity: .5
        cursor: pointer

  .nav-link
    display: block
    font-size: 1.6rem
    line-height: 1.25
    padding: 1em 0
    color: $color-text
    &:hover
      color: $color-main

  .nav-item--search
    .nav-link
      padding: 1em 2em
      line-height: 1.25
      background: $color-main
      color: white
      box-shadow: inset 0 0 0 1px $color-main

      &:hover
        box-shadow: inset 0 0 0 3px $color-main
        background: white
        color: $color-main

    .page--homepage &
      display: none

  .nav-item
    &--hasSubnav
      position: relative
      padding-right: 2.4rem
      cursor: pointer

      &::after
        content: '\f107'
        font-family: fa
        position: absolute
        +box(2.4rem)
        text-align: center
        color: $color-text
        top: calc(50% - 1.2rem)
        right: 0

      &:hover .nav-subnav
        opacity: 1
        visibility: visible

    + .nav-item
      margin-left: $spacer*2

  .nav-subnav
    position: absolute
    z-index: 1
    right: 0
    top: 100%
    opacity: 0
    visibility: hidden
    min-width: 24rem
    background: rgba(white,.95)
    box-shadow: 0 1rem 3.5rem rgba($color-gray,.75)
    transition: opacity .1s ease-out, visibility .1s ease-out

    &--languages
      min-width: 0

    &::before
      content: ''
      position: absolute
      bottom: 100%
      right: .75rem
      border: .6rem solid rgba(white, 0)
      border-top-width: 0
      border-bottom-color: rgba(white, .95)

  .nav-subnav .nav-link
    display: block
    padding-left: 2em
    padding-right: 2em
    white-space: nowrap



.language-chooser
  @extend .nav-subnav
  @extend .nav-subnav--languages

  li
    display: block

  li a
    @extend .nav-link

  li.active a
    color: $color-main
