.pagination
  clear: both
  margin-bottom: $spacer*2
  text-align: center
  +breakpoint-down(md)
    margin-bottom: $spacer


  li
    display: inline-block
    vertical-align: top
    margin-right: $spacer/2
    &:last-of-type
      margin-right: 0

    +breakpoint-down(md)
      margin-bottom: $spacer


  li > a,
  li > span
    font-size: 1.4rem
    line-height: 1
    +box(3.6rem,3.6rem,3.4rem)
    border: 1px solid
    text-align: center
    color: $color-text

  li:hover > a,
  li.active > span
    color: $color-link
    box-shadow: none
    text-decoration: none

  a[rel="next"],
  a[rel="prev"]
    position: relative
    // @include hide-text
    &:before
      content: ""
      position: absolute
      top: 0
      display: inline-block
      +box(1rem, 1.4rem)
      margin: 1rem
      text-align: center


  a[rel="next"]:before
    left: .4rem

  a[rel="prev"]:before
    left: .2rem

  //------------------------------------//
  //  States
  //------------------------------------//

  li.active a
    color: $color-main
    text-decoration: none

  li.disabled
    > span,
    > a
      display: none
