.toolCard
  overflow: hidden
  max-width: 100%
  display: block

.toolCard-image a + a
  display: none

.toolCard-image
  a,
  img
    display: block

.toolCard-image > a:first-of-type
  position: relative

  &::before
    position: absolute
    top: 50%
    left: 50%
    content: '\f002'
    color: $color-text
    font-family: fa
    transform: translate(-50%, -50%)
    font-size: 2.8rem
    z-index: 1
    opacity: 0
    visibility: hidden
    transition: opacity .4s linear, visibility .4s linear

  &::after
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background: rgba(white,.95)
    content: ''
    font-style: italic
    color: $color-text-faded
    display: flex
    flex-flow: column nowrap
    align-items: center
    justify-content: center
    opacity: 0
    visibility: hidden
    transition: opacity .4s linear, visibility .4s linear

  &:hover::before,
  &:hover::after
    opacity: 1
    visibility: visible

.toolCard-image--gallery > a:first-of-type::after
  padding-top: 6rem
  content: attr(data-gallery)
  color: $color-text

.toolCard-image--gallery
  position: relative

  &::before
    font-family: fa
    content: '\f302'
    z-index: 1
    position: absolute
    right: 1rem
    bottom: 1rem
    color: $color-light
    font-size: 1.6rem
    text-shadow: .1rem .1rem .75rem rgba(0,0,0,0.25)
    width: 3.2rem
    height: 3.2rem
    text-align: center
    line-height: 3.2rem
