.userCards
  position: relative
  margin-top: -20vh
  background: white
  padding: $spacer*4
  border: solid $color-border
  border-width: 1px 1px 0

.userCards-resultsTitle
  text-align: center
  color: white
  font-weight: 900
  font-size: 3.2rem
  line-height: 1
  margin-bottom: -0px
  text-transform: uppercase
  font-style: italic
  z-index: 1
  position: absolute
  bottom: 100%
  left: 10rem
  padding: .5em 1em
  transform: translateY(50%)

  &::before
    content: ''
    position: absolute
    left: 0
    top: 0
    z-index: -1
    background-color: black
    width: 100%
    height: 100%
    transform: skewX(-10deg)


.userCards-list
  transition: all .5s ease-in-out

  +breakpoint-up(sm)
    column-count: 2
    column-gap: $spacer
    column-fill: initial

  +breakpoint-up(md)
    column-count: 3

  +breakpoint-up(lg)
    column-count: 4


.userCard
  position: relative
  display: block
  z-index: 0
  overflow: hidden

  &::before
    z-index: 1
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background: rgba(white, .5)
    box-shadow: inset 0 0 10rem rgba(white, .75)

  &::after
    z-index: 2
    font-family: fa
    content: '\f002'
    position: absolute
    @extend %align--xy--center
    color: black
    font-size: 3.2rem

  &::before,
  &::after
    opacity: 0
    visibility: hidden
    transition: opacity .4s ease-out, visibility .4s ease-out

.userCard-img
  display: block
  width: 100%
  transition: filter .4s linear

.userCard-email
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  padding: .25em 1em
  background: rgba(black, .85)
  padding: 3.5em 1em 1rem
  width: 100%
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0))
  color: white
  font-size: 1.8rem
  +text-truncate(100%)

.userCard:hover
  cursor: pointer

  &::before,
  &::after
    opacity: 1
    visibility: visible

  .userCard-img
    filter: blur(4px) saturate(180%) grayscale(.25)
