
//
// Stand out visually
//

=stand-out($color: rgba(0, 0, 0, .75))
  &:before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    box-shadow: 0 0 0 1000em $color
