
//
//  Thin border mixin
//

@mixin thin-border($color: #dfdfdf)
  position: relative

  &:after
    content: ''
    position: absolute
    top: 0
    left: 0
    border: 1px solid $color
    width: 200%
    height: 200%
    transform: scale(.5)
    transform-origin: left top
