
<template>
  <div class="app">app</div>
</template>

<script>
  import workersSearch from './components/workers-search.vue';
  export default {
    components: {
      'workers-search': workersSearch
    }
  }
</script>
<style lang="sass">
</style>
