
.footer--global
  flex: 0 0 auto

.page--homepage:not(.page--hasUsers) .footer--global
  // position: absolute
  // bottom: 0
  // left: 0
  width: 100%
  background: rgba(white,0.7)
  border-top: 1px solid $color-border

.page--auth .footer--global
  position: relative
  color: white
  z-index: 1
