
main
  flex: 1 1 auto

.main--global
  display: flex
  flex-flow: row nowrap
  flex: 1 1 auto
  width: 100%
  max-width: 100%
  background: white

  .page--homepage &
    display: flex
    flex-flow: column nowrap
    width: 100%
    flex: 1 1 auto
    max-width: 100%


// .content-wrap
//   display: flex
//   flex-flow: row nowrap
//   justify-content: center
//   flex: 1 1 auto
//   width: 100%
//   +breakpoint-down(md)
//     flex-flow: row wrap
//
// .content--main
//   display: flex
//   flex-flow: row nowrap
//   width: 100%
//   +breakpoint-down(md)
//     flex-flow: row wrap
//
//   .content-inner
//     flex: 1 1 auto
//     max-width: 100%
