
.sidebar--right,
.sidebar--left
  padding: $spacer
  flex: 0 0 32rem
  +breakpoint-down(lg)
    flex: 0 0 24rem
  +breakpoint-down(md)
    flex: 1 1 auto
    order: 1

.sidebar--right
  border-left: 1px solid $color-border

.sidebar--left
  border-right: 1px solid $color-border

.page--homepage
  .sidebar
    display: none
