
//
// Print
//

.visible--print--block
  display: none !important

  @media print
    display: block !important


.visible--print--inline
  display: none !important
  @media print
    display: inline !important


.visible--print--inlineBlock
  display: none !important
  @media print
    display: inline-block !important


.hidden--print
  @media print
    display: none !important
