<template>
  <section>
      asdas
      <div class="button" v-on:click="fetchWorkers">
        get em!
      </div>
  </section>
</template>

<script>

export default {
  components: {
  },
  methods: {
    fetchWorkers() {
      fetch('http://wisetracker-wp.local/wordpress/wp-json/workers/v2/users?available_days=2018-02-21').then(function(response) {
        if (response.ok) {
          return response.json();
        } else {
          throw new Error('Something went wrong ...');
        }
      }).then(function(data) {
        console.log(data.users);
      }).catch(function(error) {
        console.log(error);
      });
    }
  }
}
</script>

<style lang="sass">
  .button
    padding: 10px
    background: white
</style>
