.auth-wrap
  display: flex
  flex-flow: column nowrap
  justify-content: center
  align-items: center
  width: 100%
  background-color: #f0f0f0
  flex: 1 1 100%

.auth
  position: relative
  z-index: 3
  background: white
  padding: $spacer*2
  min-width: 40rem
  animation-name: authIn
  animation-duration: .3s
  animation-fill-mode: both
  animation-timing-function: linear

  +breakpoint-down(sm)
    padding: $spacer
    min-width: 0

.auth-header
  padding-bottom: $spacer*.5
  margin-bottom: $spacer*1.5
  border-bottom: 1px solid $color-border

  h2
    margin: 0

.auth-video
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  z-index: 0
  display: block
  min-width: 100%
  min-height: 100%

.auth-videoFilter
  position: fixed
  z-index: 1
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(black,.75)


@keyframes authIn
  0%
    transform: scale(1.1)
    opacity: 0
  100%
    transform: scale(1)
    opacity: 1




body.login
  background-image: url(../images/auth.jpg)
  background-size: cover
  font-family: $font-family

  #login
    background: white
    padding: 40px
    margin-top: 8%
    min-width: 28rem

  #loginform,
  #registerform
    padding: 0
    margin: 0
    box-shadow: none
    background: none

  #login_error,
  .message
    border-left: 4px solid $color-main
    padding: 12px
    margin-left: 0
    margin-bottom: 20px
    background-color: #fff
    box-shadow: none

  form .input,
  input[type="text"]
    border: 1px solid $color-border
    box-shadow: none
    background-color: #fff

    &:focus
      border-color: $color-main

  h1
    margin-bottom: 40px
  h1 a
    background: none
    text-indent: 0
    width: auto
    height: auto
    margin: 0
    font-size: 24px
    text-transform: uppercase
    letter-spacing: 0.2em
    color: #555
    font-weight: 300

    &:focus,
    &:active
      outline: 0

  .button-primary.button.button.button
    position: relative
    display: inline-block
    vertical-align: middle
    margin: 0
    padding: 1em 3em
    border: 0
    font-weight: 400
    height: auto
    text-shadow: none
    border-radius: 2px
    box-shadow: none
    font-size: 14px
    line-height: 18px
    font-family: $font-family
    text-rendering: optimizeLegibilitycolor
    -webkit-font-smoothing: antialiased //sass-lint:disable-line no-vendor-prefixes
    font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale //sass-lint:disable-line no-vendor-prefixes
    text-align: center
    text-overflow: ellipsis
    text-decoration: none
    white-space: nowrap
    cursor: pointer
    user-select: none
    background: none
    transition-property: background, color, box-shadow
    transition-timing-function: $ease-in-out-quint
    transition-duration: 100ms

    background-color: $color-main
    color: white

    &:hover
      background-color: darken($color-main,15%)
      color: white
