.homepage-head
  background-color: #ffffff
  background-image: linear-gradient(-45deg, rgba(white,.75), rgba(white,.95)),url(../images/homepage-bg.jpg)
  background-size: cover
  min-height: calc(100vh - 4.42rem)
  display: flex
  flex-flow: column nowrap
  align-items: center
  justify-content: center
  transition: all .4s ease-out

.homepage-headInner
  display: flex
  width: 100%
  padding: 15vh $spacer*2 15vh
  flex-flow: row nowrap
  align-items: center
  justify-content: center
  transition: all .4s ease-out

  +breakpoint-down(lg)
    flex-flow: column
    padding-left: $spacer
    padding-right: $spacer


.userSearch--homepage
  position: relative
  background: white
  box-shadow: 0 0 2rem rgba(0,0,0,.25), .5rem .5rem rgba($color-dark,.75), 0 2rem 15rem rgba(black,.45)
  padding: $spacer*1.5 $spacer $spacer
  margin-left: $spacer*2
  min-width: 64rem

  +breakpoint-down(lg)
    margin-left: 0
    min-width: 0

  .usersearch-title
    text-align: center
    color: white
    font-weight: 900
    font-size: 1.82rem
    line-height: 1
    margin-bottom: -0px
    text-transform: uppercase
    font-style: italic
    z-index: 1
    position: absolute
    bottom: 100%
    left: 50%
    padding: .5em 1em
    transform: translate(-50%, 50%)

    &::before
      content: ''
      position: absolute
      left: 0
      top: 0
      z-index: -1
      background-color: black
      width: 100%
      height: 100%
      transform: skewX(-10deg)


.homepage-shout
  margin-right: $spacer*2

  +breakpoint-down(lg)
    margin-right: 0
    margin-bottom: $spacer*3
    text-align: center

  h1
    font-size: between(70px,140px,$lg,$xxl)
    line-height: 1
    font-weight: bold
    margin: 0
    color: white
    text-shadow: 0 0 2rem rgba(0,0,0,.25), .75rem .75rem rgba($color-dark,.75), 0 0 15rem white
    letter-spacing: -.05em
    color: $color-main

    +breakpoint-down(lg)
      text-shadow: 0 0 .5rem rgba(0,0,0,.25), .25rem .25rem rgba($color-dark,.75), 0 0 5rem white
      margin-bottom: $spacer

    +breakpoint-down(sm)
      font-size: 7rem

  h2
    font-size: between(40px,60px,$lg,$xxl)
    line-height: 1.1
    letter-spacing: -.025em
    font-weight: bold
    margin: 0
    color: $color-text
    // text-shadow: 0 0 .2rem rgba(black,.85), .5rem .5rem rgba($color-light,.75), 0 0 15rem white


.main--hasUsers
  .homepage-head
    justify-content: flex-start
    // padding-top: 15vh
    .homepage-headInner
      padding-bottom: 30vh

  // .homepage-shout
  //   h1
  //     font-size: between(30px,70px,$lg,$xxl)
  //
  //   h2
  //     font-size: 2rem
