.page-head
  position: relative
  z-index: 0
  left: 0
  top: 0
  width: 100%
  background-color: #ffffff
  background-image: url(../images/page-bg.jpg)
  background-size: cover
  min-height: 30vh

.main--global.main--sidebars
  position: relative
  // margin-top: 30vh
  z-index: 1
  margin-left: auto
  margin: 0 auto

  .content--main
    flex: 1 1 auto
    padding: $spacer*2
    // box-shadow: inset 0 1rem $color-main
