.user-info
  margin-bottom: $spacer*2

.user-infoRow
  display: flex
  flex-flow: row nowrap
  align-items: center

  span
    // margin-right: $spacer

.user-profileImage
  width: 15rem
  height: 15rem
  border-radius: 15rem
  display: block
  margin-left: auto
  margin-right: auto
  background-size: cover
  background-position: center
