.form-label
  display: block
  margin-bottom: $spacer/2
  font-weight: 400
  // +adjust-font-size-to(14px,1)

.form--hasLabels
  .form-block--noLabel
    padding-top: $spacer
    margin-top: $spacer/4


.form-label[class*="col"]
  margin-bottom: 0



.form-block.grid
  > .form-label[class*="col--"]
    margin-top: .8em
    +breakpoint-down(sm)
      margin-top: 0