//
// Element example:
//
// <div class="form-checkboxes">
//   <label class="form-checkbox" for="">
//     <input class="form-input" type="checkbox" name="" value="" id="">
//     <span class="form-trigger"><i class="fa fa-check"></i></span>
//     <span class="form-label"></span>
//   </label>
// </div>
//


.form-checkbox
  position: relative
  display: flex
  flex-flow: row nowrap
  width: 100%
  align-items: center

  & + .form-checkbox
    margin-top: $spacer/2

  &.form-checkbox--inline,
  .form-checkboxes--inline .form-checkbox
    display: inline-flex
    width: auto
    margin-top: 0
    margin-left: $spacer/2


  > .form-input
    position: absolute
    top: 0
    left: 0
    width: 0
    height: 0
    overflow: hidden
    visibility: hidden
    opacity: 0


  > .form-label
    flex: 1 1 auto
    margin-bottom: 0


  > .form-trigger
    z-index: 1
    position: relative
    display: inline-block
    vertical-align: top
    float: left
    margin-right: $spacer/2
    +box(1.8rem)
    flex: 0 0 1.8rem
    text-align: center
    color: $color-input-border
    background: white
    box-shadow: 0 0 0 1px
    // border: 1px solid
    border-radius: 10rem
    transition-property: background
    transition-duration: 500ms
    transition-timing-function: ease-in-out
    transition-timing-function: $ease-in-out-quint

    .fa
      z-index: 2
      position: relative
      top: -.15rem
      font-size: 1rem
      opacity: 0
      visibility: hidden
      transform: scale(.85)
      transition-property: all
      transition-duration: 250ms
      transition-timing-function: ease-in-out
      transition-timing-function: $ease-in-out-quint

    &:before
      z-index: 1
      content: ""
      position: absolute
      left: 50%
      top: 50%
      height: 2rem
      width: 2rem
      margin-top: -1rem
      margin-left: -1rem
      background: $color-main
      border-radius: 10rem
      display: none
      transform: scale(1)
      transform-origin: center
      opacity: 1
      animation-duration: 350ms
      animation-name: checkbox-animation
      animation-fill-mode: both
      animation-iteration-count: 1
      animation-timing-function: ease-in-out
      animation-timing-function: $ease-in-out-quint

    &:after
      z-index: 0
      content: ""
      position: absolute
      left: -.1rem
      top: -.1rem
      bottom: -.1rem
      right: -.1rem
      // height: 100%
      // width: 100%
      background: $color-main
      border-radius: 10rem
      // display: none
      transform: scale(0)
      transform-origin: center
      // opacity: 0
      transition-property: transform, visibility
      transition-duration: 250ms
      // transition-name: checkbox-fill-animation
      // transition-fill-mode: both
      // transition-iteration-count: 1
      transition-timing-function: ease-in-out
      transition-timing-function: $ease-in-out-quint


    > .error
      flex: 1 1 100%
      order: 3

.form-checkbox:hover
  cursor: pointer

  > .form-trigger,
  > .form-label
    color: $color-main


.form-checkbox .form-input:checked ~
  .form-label
    color: $color-main

  .form-trigger
    color: white
    // background: $color-main
    box-shadow: 0 0 0 1px rgba($color-main,0.25)
    // box-shadow: inset 0 0 0 1rem $color-main
    // border: 1px solid $color-main

  .form-trigger:before
    display: block

  .form-trigger:after
    visibility: visible
    transform: scale(1)

  .form-trigger .fa
    opacity: 1
    visibility: visible
    transform: scale(1)


.form-checkboxList
  position: relative
  max-height: 19rem
  // height: 100%
  overflow: auto
  border: 1px solid $color-border

  .form-checkbox
    padding: $spacer/4 $spacer/2

  .form-checkbox:nth-of-type(even)
    background: lighten($color-light-gray,4%)

  .form-checkbox + .form-checkbox
    margin-top: 0


.form-checkboxList--small
  max-height: none
  border: 0
  overflow: visible

  &:before
    display: none

  .form-checkbox:nth-of-type(even)
    background: none



.form-checkbox[data-disabled]
  opacity: .5
  pointer-events: none


@keyframes checkbox-animation
  0%
    transform: scale(0)
    opacity: 1

  100%
    transform: scale(2)
    opacity: 0

@keyframes checkbox-fill-animation
  0%
    transform: scale(0)
    // opacity: 0

  100%
    transform: scale(1)
    // opacity: 1




/*------------------------------------//
//  Custom
//------------------------------------*/

.Table--skills
  .form-checkbox + .form-checkbox
    margin-top: 0
