.form-block
  position: relative
  margin-bottom: $spacer

.form-block--small
  margin-bottom: $spacer/2

.form--horizontal .form-block
  margin-bottom: 0

.form-block--last,
.form-block:last-child
  margin-bottom: 0


.form-block--inline
  display: flex
  align-items: center

  > .form-label
    flex: 0 0 auto
    padding-right: $spacer

  > .form-input
    flex: 1 1 auto


.form-block[class*="col"]
  margin-bottom: 0


// Initialy label is placeholder. When input is not empty, label element appear at the bottom
//
.form-block--dynamicLabel
  +clearfix

  .form-input
    transition: all .15s ease-out

    +placeholder
      color: $color-text
      font-weight: 400
      font-style: italic
      opacity: 0

  .form-label
    position: absolute
    left: 0
    top: 0
    width: 100%
    margin: 0
    padding: 1em 1.25em
    font-size: 14px
    line-height: 1.45em
    color: $color-text-faded
    font-style: italic
    pointer-events: none
    transition: all .15s ease-out

  .form-input--small ~ .form-label
    font-size: 12px

  // .form-input:not(.placeholder-shown),
  .form-input:not(:placeholder-shown)
    margin-top: 2rem

    ~ .form-label
      height: 2rem
      font-size: 1.2rem
      padding: .2rem .2rem .4rem
      line-height: 1.4rem
