.form-block--hasHelp
  .form-input
    margin-bottom: $spacer/4

  .form-blockAddonWrap
    margin-bottom: $spacer/4

    .form-input
      margin-bottom: 0

.form-help
  font-size: 1.2rem
  color: $color-text-faded
  line-height: 2
  padding: 0 $spacer/4
