input,
textarea,
.form-input,
.form-input--text,
.form-input--textarea
  padding: 1rem
  border: 0
  border-radius: $input-radius
  border: 0
  // border: 1px solid $color-input-border
  box-shadow: inset 0 0 0 1px $color-input-border
  // padding: 1.35rem 1.5rem
  // line-height: 1.8rem
  padding: 1em 1.25em
  line-height: 1.45em
  max-width: 100%
  background: $color-input-bg
  font-weight: 400
  font-family: $font-family
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased
  -moz-font-smoothing: antialiased
  -ms-font-smoothing: antialiased
  -o-font-smoothing: antialiased
  font-size: 14px

  &:hover,
  &:focus
    outline: 0

  &:hover
    // border-color: darken($color-input-border,15%)
    box-shadow: inset 0 0 0 1px darken($color-input-border,15%)

  &:focus
    // border-color: $color-main
    box-shadow: inset 0 0 0 1px $color-main

  &.error,
  &.form-input--hasError,
  .form-block--error &
    // border-color: $color-danger
    box-shadow: inset 0 0 0 1px $color-danger

  &:-webkit-autofill
    // -webkit-box-shadow: 0 0 0 30px white inset
    animation-name: autofill
    animation-fill-mode: both

  +placeholder
    color: $color-text-faded
    opacity: .65
    font-weight: 300


.form-input--small
  // padding: 0.9rem 1.5rem
  font-size: 12px
  // line-height: 1.4rem
  vertical-align: top

.form-input--block
  display: block
  width: 100%


.form-input[disabled]
  border-color: lighten($color-input-border,5%)
  background-color: $color-input-bg
  color: lighten($color-text-faded,10%)


.form-input[type="number"]
  padding-right: .5rem

@keyframes autofill
  to
    background: transparent
